<!DOCTYPE html>
<lang="fr">
    <html>
        <header>
            <title>epytodo</title>
            <meta charset="UTF-8">
        </header>
        <body>
            <form action="/signin" method="POST">
                User: <input type="text" placeholder="Enter Username" name="username" /><br>
                Password: <input type="password" placeholder="Enter Password" name="password"/>
                <input type="submit" value="Sign in"/>
              </form>
        </body>
    </html>